
.message {
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#area div {
    margin: 4px;
    overflow: hidden;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    column-gap: 10px;

    display: grid;
    grid-template-areas: 
    "title"
    "image"
    "address"
    "description"
    "website";
}

.box a {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(2, 40, 80);
    font-weight: 700;
    padding: 5px;
    grid-area: title;
    border-radius: 10px;
}

.box a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

#area div h2 {
    color: gold;
    grid-area: title;
    grid-gap: 5px;
}

#area div address {
    grid-area: address;
}

#area div img {
    width: 100%;
    height: 300px;
    grid-area: image;
    display: block;
    grid-area: image;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#area div img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#area div p {
    grid-area: description;
}

#area div a {
    grid-area: website;

}

@media (max-width: 728px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        background-color: black;
        color: white;
    }

    
    .home {
        display: grid;
        grid-template-columns: 44px 2fr 44px;
    }

    .home img {
        width: 44px;
        height: 44px;
    }

    .chamber {
        padding: 10px;
        font-family: "Lilita One", sans-serif;
    }

    .hamburger {
        border: none;
        background: none;
        cursor: pointer;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 2rem;
        color: white;
    }

    .hamburger.show::before {
        content: "\00D7";
        font-size: 2.5rem;
        color: white;
    }

    .navigation {
        display: none;
    }

    .navigation.show {
        display: block;
    }

    .navigation {
        background-color: black;
        color: white;
        padding: 0;
        font-family: "Gruppo", sans-serif;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border: 1px solid black;
    }

    .navigation li.current {
        background-color: grey;
    }

    .navigation a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .navigation li:hover {
        background-color: rgb(103, 4, 4);
        transition: background-color 0.5s ease;
        color: black;
    }

    .hero {
        position: relative;
    }

    .hero img {
       width: 100%;
       height: 400px;
       object-fit: cover; 
    }

    .hero-content {
        position: absolute;
        background-color: black;
        top: 200px;
        right: 10px;
        text-align: center;
        padding: 10px;
    }

    .hero-content a {
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .hero-content:hover {
        background-color: blue;
    }

    .current-events {
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 10px;
        font-family: "Lilita One", sans-serif;
    }

    .local-weather {
        background-color: black;
        color: white;
        border-radius: 10px;
        padding-top: 5px;
        text-align: center;
    }

    .forecast-grid {
        background-color: black;
        border-radius: 10px;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .spotlight-cube {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .spotlight-cube img {
        width: 100%;
        height: auto;
    }

    main h1 {
        padding: 4px;
        margin: 0;
        padding-left: 10px;
        font-family: "Gruppo", sans-serif;
    }

    .intro {
        display: grid; 
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .events {
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 10px;
        font-family: "Lilita One", sans-serif;
    }

    .weather {
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 10px;
        font-family: "Lilita One", sans-serif;
    }

    .forecast {
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 10px;
        font-family: "Lilita One", sans-serif;
    }

    .display {
        border: 2px solid black;
        background-color: black;
        display: flex;
        justify-content: center;
        margin: 20px 0; 
    }

    .display button {
        background-color: indigo;
        border-radius: 8px;
        color: white;
        padding: 12px;
        cursor: pointer;
        width: 70px;
        height: 60px;
        transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .display button:hover {
        background-color: #f5f5f5;
        color: black;
        box-shadow: 0 4px 8px black;
    }

    .menu {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        font-family: "Lilita One", sans-serif;
    } 

    #business {
        gap: 20px; 
    }

    .company-card {
        border: 1px solid black;
        text-align: center;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 5px;
        margin: 0;
        border-radius: 10px;
    }

    #business.grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: minmax(280px, 1fr);
    }

    #business.list {
        display: flex;
        flex-direction: column;
    }

    #business.list .company-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 0;
        text-align: center;
    }
    
    #business.list .company-card h2 {
        font-size: 1.2em;
        
    }

    #business.list .company-card img {
        display: none;
    }
    
    .grid .company-card {
        border: 1px solid black;
        text-align: center;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 5px;
        margin: 0;
        border-radius: 10px;
        min-height: 200px;
    }

    .list .company-card {
        border: 1px solid black;
        text-align: center;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 0;
        margin: 0;
        border-radius: 10px;
    }

    .company-card p {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .company-card img {
        max-width: 100%;
        height: auto;
        max-height: 100px;
        object-fit: contain;
        margin-bottom: 15px;
        border-radius: 4px;   
        background-color: white;
    }

    .company-card a {
        text-decoration: none;
        color: white;
        display: block;
        text-overflow: ellipsis;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .company-card a:hover {
        background-color: white;
        color: black;
        border-radius: 4px;
    }

    footer {
        background-color: black;
        margin: 0;
        padding: 0;
        font-family: "Lilita One", sans-serif;
    }

    .smaller {
        color: white;
        padding-left: 10px;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social img {
        width: 40px;
        height: 30px;
    }

    .bigger {
        color: white;
        padding-left: 20px;
        padding: 5px;
    }
}