@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #614419;
        color: white;
    }

    
    .home {
        display: grid;
        grid-template-columns: 44px 2fr 44px;
    }

    .home img {
        /* display: block; */
        width: 44px;
        height: 44px;
    }

    .chamber {
        padding: 10px;
    }

    .hamburger {
        border: none;
        background: none;
        cursor: pointer;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 2rem;
        color: white;
    }

    .hamburger.show::before {
        content: "\00D7";
        font-size: 2.5rem;
        color: white;
    }

    .navigation {
        display: none;
    }

    .navigation.show {
        display: block;
    }

    .navigation {
        background-color: #B37E2E;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border: 1px solid black;
    }

    /* .navigation li.current {
        background-color: rgb(24, 24, 151);
    } */

    .navigation a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .navigation li:hover {
        background-color: #614419;
        transition: background-color 0.5s ease;
    }

    main h1 {
        padding: 0;
        margin: 0;
    }

    main img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .intro {
        display: grid; 
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .events {
        padding: 10px;
        border: 1px solid black;
        background-color: #614419;
        color: white;
        border-radius: 10px;
    }

    .weather {
        padding: 10px;
        border: 1px solid black;
        background-color: #614419;
        color: white;
        border-radius: 10px;
    }

    .forecast {
        padding: 10px;
        border: 1px solid black;
        background-color: #614419;
        color: white;
        border-radius: 10px;
    }

    .display {
        text-align: center;
        padding: 10px;
    }

    .display button {
        padding: 0.5rem 1rem;
        font-weight: 700;
        background-color: #614419;
        color: white;
    }

    .menu {
        display: grid;
        margin: 1rem auto;
        padding: 0.5rem;
        grid-gap: 10px;
        grid-template-columns: 1fr;
    } 
    
    .grid {
        display: grid;
        align-items: center;
        
        section {
            text-align: center;
        }
    }
    
    .list {
        display: flex;
        flex-direction: column;

        section {
            display: grid;
            grid-template-columns: 0 1fr 1fr 1fr 1fr 1fr 1fr;
            margin: 0;
            padding: 0.25rem;
        }
    }

    .company-card {
        border: 1px solid black;
        text-align: center;
        background-color: #614419;
        color: white;
        border-radius: 5px;
        margin: 0;
    }

    .company-card img {
        max-width: 100%;
        height: auto;
        max-height: 100px;
        object-fit: cover;
        margin-bottom: 15px;
        border-radius: 4px;   
        background-color: white;
    }

    .company-card a {
        text-decoration: none;
        color: white;
    }

    .company-card a:hover {
        background-color: brown;
    }

    footer {
        background-color: #614419;
        margin: 0;
        padding: 0;
    }

    .social {
        text-align: center;
    }

    .social img {
        width: 40px;
        height: 30px;
    }

    .smaller {
        color: white;
    }

    .bigger {
        color: white;
    }
}